[Unit]
Description= crypter un message
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/crypt.sh
[Install]
WantedBy=multi-user.target

